In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/employees.csv')
df.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID,Unnamed: 11,gender
0,198,Donald,OConnell,DOCONNEL,650.507.9833,21-Jun-07,SH_CLERK,2600,-,124,50,NaN,f
1,199,Douglas,Grant,DGRANT,650.507.9844,13-Jan-08,SH_CLERK,2600,-,124,50,NaN,m
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,17-Sep-03,AD_ASST,4400,-,101,10,NaN,f
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,17-Feb-04,MK_MAN,13000,-,100,20,NaN,m
4,202,Pat,Fay,PFAY,603.123.6666,17-Aug-05,MK_REP,6000,-,201,20,NaN,f

In [ ]:
df.drop('COMMISSION_PCT',axis=1,inplace=True)

In [ ]:
df

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,MANAGER_ID,DEPARTMENT_ID,Unnamed: 11,gender
0,198,Donald,OConnell,DOCONNEL,650.507.9833,21-Jun-07,SH_CLERK,2600,124,50,NaN,f
1,199,Douglas,Grant,DGRANT,650.507.9844,13-Jan-08,SH_CLERK,2600,124,50,NaN,m
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,17-Sep-03,AD_ASST,4400,101,10,NaN,f
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,17-Feb-04,MK_MAN,13000,100,20,NaN,m
4,202,Pat,Fay,PFAY,603.123.6666,17-Aug-05,MK_REP,6000,201,20,NaN,f
5,203,Susan,Mavris,SMAVRIS,515.123.7777,07-Jun-02,HR_REP,6500,101,40,NaN,m
6,204,Hermann,Baer,HBAER,515.123.8888,07-Jun-02,PR_REP,10000,101,70,NaN,f
7,205,Shelley,Higgins,SHIGGINS,515.123.8080,07-Jun-02,AC_MGR,12008,101,110,NaN,m
8,206,William,Gietz,WGIETZ,515.123.8181,07-Jun-02,AC_ACCOUNT,8300,205,110,NaN,m
9,100,Steven,King,SKING,515.123.4567,17-Jun-03,AD_PRES,24000,-,90,NaN,f
10,101,Neena,Kochhar,NKOCHHAR,515.123.4568,21-Sep-05,AD_VP,17000,100,90,NaN,f
11,102,Lex,De Haan,LDEHAAN,515.123.4569,13-Jan-01,AD_VP,17000,100,90,NaN,f
12,103,Alexander,Hunold,AHUNOLD,590.423.4567,03-Jan-06,IT_PROG,9000,102,60,NaN,m
13,104,Bruce,Ernst,BERNST,590.423.4568,21-May-07,IT_PROG,6000,103,60,NaN,m
14,105,David,Austin,DAUSTIN,590.423.4569,25-Jun-05,IT_PROG,4800,103,60,NaN,m
15,106,Valli,Pataballa,VPATABAL,590.423.4560,05-Feb-06,IT_PROG,4800,103,60,NaN,f
16,107,Diana,Lorentz,DLORENTZ,590.423.5567,07-Feb-07,IT_PROG,4200,103,60,NaN,f
17,108,Nancy,Greenberg,NGREENBE,515.124.4569,17-Aug-02,FI_MGR,12008,101,100,NaN,f
18,109,Daniel,Faviet,DFAVIET,515.124.4169,16-Aug-02,FI_ACCOUNT,9000,108,100,NaN,f
19,110,John,Chen,JCHEN,515.124.4269,28-Sep-05,FI_ACCOUNT,8200,108,100,NaN,m
20,111,Ismael,Sciarra,ISCIARRA,515.124.4369,30-Sep-05,FI_ACCOUNT,7700,108,100,NaN,f
21,112,Jose Manuel,Urman,JMURMAN,515.124.4469,07-Mar-06,FI_ACCOUNT,7800,108,100,NaN,m
22,113,Luis,Popp,LPOPP,515.124.4567,07-Dec-07,FI_ACCOUNT,6900,108,100,NaN,f
23,114,Den,Raphaely,DRAPHEAL,515.127.4561,07-Dec-02,PU_MAN,11000,100,30,NaN,m
24,115,Alexander,Khoo,AKHOO,515.127.4562,18-May-03,PU_CLERK,3100,114,30,NaN,f
25,116,Shelli,Baida,SBAIDA,515.127.4563,24-Dec-05,PU_CLERK,2900,114,30,NaN,m
26,117,Sigal,Tobias,STOBIAS,515.127.4564,24-Jul-05,PU_CLERK,2800,114,30,NaN,f
27,118,Guy,Himuro,GHIMURO,515.127.4565,15-Nov-06,PU_CLERK,2600,114,30,NaN,m
28,119,Karen,Colmenares,KCOLMENA,515.127.4566,10-Aug-07,PU_CLERK,2500,114,30,NaN,f
29,120,Matthew,Weiss,MWEISS,650.123.1234,18-Jul-04,ST_MAN,8000,100,50,NaN,m
30,121,Adam,Fripp,AFRIPP,650.123.2234,10-Apr-05,ST_MAN,8200,100,50,NaN,f
31,122,Payam,Kaufling,PKAUFLIN,650.123.3234,01-May-03,ST_MAN,7900,100,50,NaN,f
32,123,Shanta,Vollman,SVOLLMAN,650.123.4234,10-Oct-05,ST_MAN,6500,100,50,NaN,m
33,124,Kevin,Mourgos,KMOURGOS,650.123.5234,16-Nov-07,ST_MAN,5800,100,50,NaN,f
34,125,Julia,Nayer,JNAYER,650.124.1214,16-Jul-05,ST_CLERK,3200,120,50,NaN,m
35,126,Irene,Mikkilineni,IMIKKILI,650.124.1224,28-Sep-06,ST_CLERK,2700,120,50,NaN,f
36,127,James,Landry,JLANDRY,650.124.1334,14-Jan-07,ST_CLERK,2400,120,50,NaN,m
37,128,Steven,Markle,SMARKLE,650.124.1434,08-Mar-08,ST_CLERK,2200,120,50,NaN,m
38,129,Laura,Bissot,LBISSOT,650.124.5234,20-Aug-05,ST_CLERK,3300,121,50,NaN,f
39,130,Mozhe,Atkinson,MATKINSO,650.124.6234,30-Oct-05,ST_CLERK,2800,121,50,NaN,m
40,131,James,Marlow,JAMRLOW,650.124.7234,16-Feb-05,ST_CLERK,2500,121,50,NaN,f
41,132,TJ,Olson,TJOLSON,650.124.8234,10-Apr-07,ST_CLERK,2100,121,50,NaN,m
42,133,Jason,Mallin,JMALLIN,650.127.1934,14-Jun-04,ST_CLERK,3300,122,50,NaN,f
43,134,Michael,Rogers,MROGERS,650.127.1834,26-Aug-06,ST_CLERK,2900,122,50,NaN,m
44,135,Ki,Gee,KGEE,650.127.1734,12-Dec-07,ST_CLERK,2400,122,50,NaN,m
45,136,Hazel,Philtanker,HPHILTAN,650.127.1634,06-Feb-08,ST_CLERK,2200,122,50,NaN,f
46,137,Renske,Ladwig,RLADWIG,650.121.1234,14-Jul-03,ST_CLERK,3600,123,50,NaN,f
47,138,Stephen,Stiles,SSTILES,650.121.2034,26-Oct-05,ST_CLERK,3200,123,50,NaN,f
48,139,John,Seo,JSEO,650.121.2019,12-Feb-06,ST_CLERK,2700,123,50,NaN,m
49,140,Joshua,Patel,JPATEL,650.121.1834,06-Apr-06,ST_CLERK,2500,123,50,NaN,m

In [ ]:
df["gender"]=="m"

0     False
1      True
2     False
3      True
4     False
5      True
6     False
7      True
8      True
9     False
10    False
11    False
12     True
13     True
14     True
15    False
16    False
17    False
18    False
19     True
20    False
21     True
22    False
23     True
24    False
25     True
26    False
27     True
28    False
29     True
30    False
31    False
32     True
33    False
34     True
35    False
36     True
37     True
38    False
39     True
40    False
41     True
42    False
43     True
44     True
45    False
46    False
47    False
48     True
49     True
Name: gender, dtype: bool

In [ ]:
df["gender"]=="f"

0      True
1     False
2      True
3     False
4      True
5     False
6      True
7     False
8     False
9      True
10     True
11     True
12    False
13    False
14    False
15     True
16     True
17     True
18     True
19    False
20     True
21    False
22     True
23    False
24     True
25    False
26     True
27    False
28     True
29    False
30     True
31     True
32    False
33     True
34    False
35     True
36    False
37    False
38     True
39    False
40     True
41    False
42     True
43    False
44    False
45     True
46     True
47     True
48    False
49    False
Name: gender, dtype: bool

In [ ]:
df[df["gender"]=="m"]

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,MANAGER_ID,DEPARTMENT_ID,Unnamed: 11,gender
1,199,Douglas,Grant,DGRANT,650.507.9844,13-Jan-08,SH_CLERK,2600,124,50,NaN,m
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,17-Feb-04,MK_MAN,13000,100,20,NaN,m
5,203,Susan,Mavris,SMAVRIS,515.123.7777,07-Jun-02,HR_REP,6500,101,40,NaN,m
7,205,Shelley,Higgins,SHIGGINS,515.123.8080,07-Jun-02,AC_MGR,12008,101,110,NaN,m
8,206,William,Gietz,WGIETZ,515.123.8181,07-Jun-02,AC_ACCOUNT,8300,205,110,NaN,m
12,103,Alexander,Hunold,AHUNOLD,590.423.4567,03-Jan-06,IT_PROG,9000,102,60,NaN,m
13,104,Bruce,Ernst,BERNST,590.423.4568,21-May-07,IT_PROG,6000,103,60,NaN,m
14,105,David,Austin,DAUSTIN,590.423.4569,25-Jun-05,IT_PROG,4800,103,60,NaN,m
19,110,John,Chen,JCHEN,515.124.4269,28-Sep-05,FI_ACCOUNT,8200,108,100,NaN,m
21,112,Jose Manuel,Urman,JMURMAN,515.124.4469,07-Mar-06,FI_ACCOUNT,7800,108,100,NaN,m
23,114,Den,Raphaely,DRAPHEAL,515.127.4561,07-Dec-02,PU_MAN,11000,100,30,NaN,m
25,116,Shelli,Baida,SBAIDA,515.127.4563,24-Dec-05,PU_CLERK,2900,114,30,NaN,m
27,118,Guy,Himuro,GHIMURO,515.127.4565,15-Nov-06,PU_CLERK,2600,114,30,NaN,m
29,120,Matthew,Weiss,MWEISS,650.123.1234,18-Jul-04,ST_MAN,8000,100,50,NaN,m
32,123,Shanta,Vollman,SVOLLMAN,650.123.4234,10-Oct-05,ST_MAN,6500,100,50,NaN,m
34,125,Julia,Nayer,JNAYER,650.124.1214,16-Jul-05,ST_CLERK,3200,120,50,NaN,m
36,127,James,Landry,JLANDRY,650.124.1334,14-Jan-07,ST_CLERK,2400,120,50,NaN,m
37,128,Steven,Markle,SMARKLE,650.124.1434,08-Mar-08,ST_CLERK,2200,120,50,NaN,m
39,130,Mozhe,Atkinson,MATKINSO,650.124.6234,30-Oct-05,ST_CLERK,2800,121,50,NaN,m
41,132,TJ,Olson,TJOLSON,650.124.8234,10-Apr-07,ST_CLERK,2100,121,50,NaN,m
43,134,Michael,Rogers,MROGERS,650.127.1834,26-Aug-06,ST_CLERK,2900,122,50,NaN,m
44,135,Ki,Gee,KGEE,650.127.1734,12-Dec-07,ST_CLERK,2400,122,50,NaN,m
48,139,John,Seo,JSEO,650.121.2019,12-Feb-06,ST_CLERK,2700,123,50,NaN,m
49,140,Joshua,Patel,JPATEL,650.121.1834,06-Apr-06,ST_CLERK,2500,123,50,NaN,m

In [ ]:
df[df["JOB_ID"] != "SH_CLERK"]

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,MANAGER_ID,DEPARTMENT_ID,Unnamed: 11,gender
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,17-Sep-03,AD_ASST,4400,101,10,NaN,f
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,17-Feb-04,MK_MAN,13000,100,20,NaN,m
4,202,Pat,Fay,PFAY,603.123.6666,17-Aug-05,MK_REP,6000,201,20,NaN,f
5,203,Susan,Mavris,SMAVRIS,515.123.7777,07-Jun-02,HR_REP,6500,101,40,NaN,m
6,204,Hermann,Baer,HBAER,515.123.8888,07-Jun-02,PR_REP,10000,101,70,NaN,f
7,205,Shelley,Higgins,SHIGGINS,515.123.8080,07-Jun-02,AC_MGR,12008,101,110,NaN,m
8,206,William,Gietz,WGIETZ,515.123.8181,07-Jun-02,AC_ACCOUNT,8300,205,110,NaN,m
9,100,Steven,King,SKING,515.123.4567,17-Jun-03,AD_PRES,24000,-,90,NaN,f
10,101,Neena,Kochhar,NKOCHHAR,515.123.4568,21-Sep-05,AD_VP,17000,100,90,NaN,f
11,102,Lex,De Haan,LDEHAAN,515.123.4569,13-Jan-01,AD_VP,17000,100,90,NaN,f
12,103,Alexander,Hunold,AHUNOLD,590.423.4567,03-Jan-06,IT_PROG,9000,102,60,NaN,m
13,104,Bruce,Ernst,BERNST,590.423.4568,21-May-07,IT_PROG,6000,103,60,NaN,m
14,105,David,Austin,DAUSTIN,590.423.4569,25-Jun-05,IT_PROG,4800,103,60,NaN,m
15,106,Valli,Pataballa,VPATABAL,590.423.4560,05-Feb-06,IT_PROG,4800,103,60,NaN,f
16,107,Diana,Lorentz,DLORENTZ,590.423.5567,07-Feb-07,IT_PROG,4200,103,60,NaN,f
17,108,Nancy,Greenberg,NGREENBE,515.124.4569,17-Aug-02,FI_MGR,12008,101,100,NaN,f
18,109,Daniel,Faviet,DFAVIET,515.124.4169,16-Aug-02,FI_ACCOUNT,9000,108,100,NaN,f
19,110,John,Chen,JCHEN,515.124.4269,28-Sep-05,FI_ACCOUNT,8200,108,100,NaN,m
20,111,Ismael,Sciarra,ISCIARRA,515.124.4369,30-Sep-05,FI_ACCOUNT,7700,108,100,NaN,f
21,112,Jose Manuel,Urman,JMURMAN,515.124.4469,07-Mar-06,FI_ACCOUNT,7800,108,100,NaN,m
22,113,Luis,Popp,LPOPP,515.124.4567,07-Dec-07,FI_ACCOUNT,6900,108,100,NaN,f
23,114,Den,Raphaely,DRAPHEAL,515.127.4561,07-Dec-02,PU_MAN,11000,100,30,NaN,m
24,115,Alexander,Khoo,AKHOO,515.127.4562,18-May-03,PU_CLERK,3100,114,30,NaN,f
25,116,Shelli,Baida,SBAIDA,515.127.4563,24-Dec-05,PU_CLERK,2900,114,30,NaN,m
26,117,Sigal,Tobias,STOBIAS,515.127.4564,24-Jul-05,PU_CLERK,2800,114,30,NaN,f
27,118,Guy,Himuro,GHIMURO,515.127.4565,15-Nov-06,PU_CLERK,2600,114,30,NaN,m
28,119,Karen,Colmenares,KCOLMENA,515.127.4566,10-Aug-07,PU_CLERK,2500,114,30,NaN,f
29,120,Matthew,Weiss,MWEISS,650.123.1234,18-Jul-04,ST_MAN,8000,100,50,NaN,m
30,121,Adam,Fripp,AFRIPP,650.123.2234,10-Apr-05,ST_MAN,8200,100,50,NaN,f
31,122,Payam,Kaufling,PKAUFLIN,650.123.3234,01-May-03,ST_MAN,7900,100,50,NaN,f
32,123,Shanta,Vollman,SVOLLMAN,650.123.4234,10-Oct-05,ST_MAN,6500,100,50,NaN,m
33,124,Kevin,Mourgos,KMOURGOS,650.123.5234,16-Nov-07,ST_MAN,5800,100,50,NaN,f
34,125,Julia,Nayer,JNAYER,650.124.1214,16-Jul-05,ST_CLERK,3200,120,50,NaN,m
35,126,Irene,Mikkilineni,IMIKKILI,650.124.1224,28-Sep-06,ST_CLERK,2700,120,50,NaN,f
36,127,James,Landry,JLANDRY,650.124.1334,14-Jan-07,ST_CLERK,2400,120,50,NaN,m
37,128,Steven,Markle,SMARKLE,650.124.1434,08-Mar-08,ST_CLERK,2200,120,50,NaN,m
38,129,Laura,Bissot,LBISSOT,650.124.5234,20-Aug-05,ST_CLERK,3300,121,50,NaN,f
39,130,Mozhe,Atkinson,MATKINSO,650.124.6234,30-Oct-05,ST_CLERK,2800,121,50,NaN,m
40,131,James,Marlow,JAMRLOW,650.124.7234,16-Feb-05,ST_CLERK,2500,121,50,NaN,f
41,132,TJ,Olson,TJOLSON,650.124.8234,10-Apr-07,ST_CLERK,2100,121,50,NaN,m
42,133,Jason,Mallin,JMALLIN,650.127.1934,14-Jun-04,ST_CLERK,3300,122,50,NaN,f
43,134,Michael,Rogers,MROGERS,650.127.1834,26-Aug-06,ST_CLERK,2900,122,50,NaN,m
44,135,Ki,Gee,KGEE,650.127.1734,12-Dec-07,ST_CLERK,2400,122,50,NaN,m
45,136,Hazel,Philtanker,HPHILTAN,650.127.1634,06-Feb-08,ST_CLERK,2200,122,50,NaN,f
46,137,Renske,Ladwig,RLADWIG,650.121.1234,14-Jul-03,ST_CLERK,3600,123,50,NaN,f
47,138,Stephen,Stiles,SSTILES,650.121.2034,26-Oct-05,ST_CLERK,3200,123,50,NaN,f
48,139,John,Seo,JSEO,650.121.2019,12-Feb-06,ST_CLERK,2700,123,50,NaN,m
49,140,Joshua,Patel,JPATEL,650.121.1834,06-Apr-06,ST_CLERK,2500,123,50,NaN,m

In [ ]:
df[df["SALARY"]==2600]

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,MANAGER_ID,DEPARTMENT_ID,Unnamed: 11,gender
0,198,Donald,OConnell,DOCONNEL,650.507.9833,21-Jun-07,SH_CLERK,2600,124,50,NaN,f
1,199,Douglas,Grant,DGRANT,650.507.9844,13-Jan-08,SH_CLERK,2600,124,50,NaN,m
27,118,Guy,Himuro,GHIMURO,515.127.4565,15-Nov-06,PU_CLERK,2600,114,30,NaN,m