In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/User_Data.csv')
df

         User ID          Gender  Age EstimatedSalary  Purchased
0   Not Available           Male   19           19000        0.0
1        15810944           Male   35           20000        0.0
2   Not Available         Female   26           43000        0.0
3        15603246         Female   27           57000        NaN
4        15804002  Not Available   19           76000        0.0
5        15728773           Male   27           58000        0.0
6        15598044         Female   27           84000        0.0
7        15694829         Female   32   Not Available        1.0
8        15600575           Male   25             NaN        0.0
9        15727311         Female   35           65000        0.0
10       15570769  Not Available   26             NaN        0.0
11       15606274            NaN   26           52000        NaN
12       15746139           Male   20           86000        0.0
13       15704987           Male   32           18000        0.0
14       15628972           Male   18           82000        0.0
15       15697686           Male   29           80000        0.0
16       15733883           Male   47           25000        1.0
17  Not Available           Male   45           26000        1.0
18  Not Available           Male   46           28000        1.0

In [ ]:
df1 = df['EstimatedSalary'].unique()
print(df1)

['19000' '20000' '43000' '57000' '76000' '58000' '84000' 'Not Available'
 nan '65000' '52000' '86000' '18000' '82000' '80000' '25000' '26000'
 '28000']

In [ ]:
df3 = df['Gender'].str.lower()
print(df3)

0              male
1              male
2            female
3            female
4     not available
5              male
6            female
7            female
8              male
9            female
10    not available
11              NaN
12             male
13             male
14             male
15             male
16             male
17             male
18             male
Name: Gender, dtype: object

In [ ]:
df3 = df['Gender'].str.upper()
print(df3)

0              MALE
1              MALE
2            FEMALE
3            FEMALE
4     NOT AVAILABLE
5              MALE
6            FEMALE
7            FEMALE
8              MALE
9            FEMALE
10    NOT AVAILABLE
11              NaN
12             MALE
13             MALE
14             MALE
15             MALE
16             MALE
17             MALE
18             MALE
Name: Gender, dtype: object

In [ ]:
df4 = df['Gender'].str.strip()
print(df4)

0              Male
1              Male
2            Female
3            Female
4     Not Available
5              Male
6            Female
7            Female
8              Male
9            Female
10    Not Available
11              NaN
12             Male
13             Male
14             Male
15             Male
16             Male
17             Male
18             Male
Name: Gender, dtype: object

In [ ]:
df4 = df['Gender'].str.rstrip()
print(df4)

0              Male
1              Male
2            Female
3            Female
4     Not Available
5              Male
6            Female
7            Female
8              Male
9            Female
10    Not Available
11              NaN
12             Male
13             Male
14             Male
15             Male
16             Male
17             Male
18             Male
Name: Gender, dtype: object

In [ ]:
df4 = df['Gender'].str.lstrip()
print(df4)

0              Male
1              Male
2            Female
3            Female
4     Not Available
5              Male
6            Female
7            Female
8              Male
9            Female
10    Not Available
11              NaN
12             Male
13             Male
14             Male
15             Male
16             Male
17             Male
18             Male
Name: Gender, dtype: object

In [ ]:
df

         User ID          Gender  Age EstimatedSalary  Purchased
0   Not Available           Male   19           19000        0.0
1        15810944           Male   35           20000        0.0
2   Not Available         Female   26           43000        0.0
3        15603246         Female   27           57000        NaN
4        15804002  Not Available   19           76000        0.0
5        15728773           Male   27           58000        0.0
6        15598044         Female   27           84000        0.0
7        15694829         Female   32   Not Available        1.0
8        15600575           Male   25             NaN        0.0
9        15727311         Female   35           65000        0.0
10       15570769  Not Available   26             NaN        0.0
11       15606274            NaN   26           52000        NaN
12       15746139           Male   20           86000        0.0
13       15704987           Male   32           18000        0.0
14       15628972           Male   18           82000        0.0
15       15697686           Male   29           80000        0.0
16       15733883           Male   47           25000        1.0
17  Not Available           Male   45           26000        1.0
18  Not Available           Male   46           28000        1.0

In [ ]:
import re
df4 = re.sub(' +',' ',str(df[['Age','Gender','EstimatedSalary']]))
print(df4)

 Age Gender EstimatedSalary
0 19 Male 19000
1 35 Male 20000
2 26 Female 43000
3 27 Female 57000
4 19 Not Available 76000
5 27 Male 58000
6 27 Female 84000
7 32 Female Not Available
8 25 Male NaN
9 35 Female 65000
10 26 Not Available NaN
11 26 NaN 52000
12 20 Male 86000
13 32 Male 18000
14 18 Male 82000
15 29 Male 80000
16 47 Male 25000
17 45 Male 26000
18 46 Male 28000